@model IEnumerable<Item>

<div class="container p-3">
   <div class="row pt-4">
        <div class="col-6">
             <h2 class="text-primary">Item List with Price</h2>
        </div>
   <div class="col-6 text-right">
       <a asp-controller="Item" asp-action="Create" class="btn btn-primary">Add New Item</a>
    </div>
</div>
    <br />
    @if(Model.Count() >0)
    {<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Item Name</th>
      <th scope="col">Item Price</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var Expenses in Model)
       {
       <tr>
      @*<th scope="row"></th>*@
      <td width="35%">@Expenses.id</td>
      <td width="35%">@Expenses.ItemName</td>
      <td width="30%">Rs @Expenses.ItemPrice</td>
      <td>
          <div class="w-100 btn-group" role="group">
         <a asp-controller="Item" asp-action="Update" asp-route-ID="@Expenses.id" class="btn btn-primary mx-1">Update</a>
         <a asp-controller="Item" asp-action="Delete" asp-route-ID="@Expenses.id" class="btn btn-danger mx" id ="Delete">Delete</a>

      </div>
      </td>
      


    </tr>
       }
                
  </tbody>
</table>
      

    }
</div>


@*@section Scripts{ 
    <script>

        $("#Delete").click(function () {

        })
    </script>
}

@section Scripts  
{  
    <script type="text/javascript">  
    $(function () {  
       // LoadData();  
        $("#btnSave").click(function () {  
            //alert("");  
            var std = {};  
            std.ItemName = $("#ItemName").val();  
            std.studentAddress = $("#ItemPrice").val();  
            $.ajax({  
                type: "POST",  
                url: '@Url.Action("createStudent")',  
                data: JSON.stringify(std),  
                dataType: "json",  
                contentType: "application/json; charset=utf-8",  
                //success: function (data) {  
                success: function () {  
                    //debugger;
                   alert("Data has been added successfully.");  
                    //LoadData();  
                },  
                error: function () {  
                    alert("Error while inserting data");  
                }  
            });  
            return false;  
        });  
    });  
      
    /*function LoadData() {  
        $("#tblStudent tbody tr").remove();  
        $.ajax({  
            type: 'POST',  
            url: '@Url.Action("Index")',  
            dataType: 'json',  
            data: { id: '' },  
            success: function (data) {  
                var items = '';  
                $.each(data, function (i, item) {  
                    var rows = "<tr>"  
                    + "<td class='prtoducttd'>" + item.studentID + "</td>"  
                    + "<td class='prtoducttd'>" + item.studentName + "</td>"  
                    + "<td class='prtoducttd'>" + item.studentAddress + "</td>"  
                    + "</tr>";  
                    $('#tblStudent tbody').append(rows);  
                });  
            },  
            error: function (ex) {  
                var r = jQuery.parseJSON(response.responseText);  
                alert("Message: " + r.Message);  
                alert("StackTrace: " + r.StackTrace);  
                alert("ExceptionType: " + r.ExceptionType);  
            }  
        });  
        return false;  
    } */
    </script>  
}  *@